<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
  
  <!-- favicon -->
  <link 
    rel="icon" 
    type="image/png" 
    sizes="32x32" 
    href="../assets/images/favicon-32x32.png">

  <Title>Todo App</Title>
</head>
<body>
  <header>
    <div class="container flex | container-header">
      <h1>TODO</h1>
      <div class="img-wrapper | theme-icon"></div>
    </div>
  </header>
  <main>
    <section id="todo">
      <h2 class="sr-only">Todo Section</h2>
      <div class="container">
        <div class="user-input-container">
          <div class="flex | task">
            <p class="right">
              <label for="task-input" class="sr-only">Create a new todo</label>
              <input type="text" name="task" id="task-input" placeholder="Create a new todo...">
            </p>
            <div class="left | border">
              <div aria-label="submit" role="button" class="check"></div>
            </div>
          </div>
        </div>
        <section class="task-container">
          <h3 class="sr-only">Tasks</h3>
          <ul class="task-list">
            <!-- <li class="flex | task">
              <div class="border">
                <div aria-label="select" role="button" class="check"></div>
              </div>
              <p>Jog for 1 hour.</p>
            </li> -->
          </ul>
          <footer class="task flex">
            <p class="items-left">items left</p>
            <nav class="nav" aria-labelledby="navLabel">
              <h2 class="sr-only" id="navLabel">Tasks menu</h2>
              <div class="navbar">
                <button class="button nav-item" data-menu="all">All</button>
                <button class="button nav-item" data-menu="active">Active</button>
                <button class="button nav-item" data-menu="completed">Completed</button>
              </div>
            </nav>
            <button class="button button-clear">Clear completed</button>
          </footer>
        </section>
      </div>
    </section>
  </main>
</body>
</html>