<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
  
  <!-- favicon -->
  <link 
    rel="icon" 
    type="image/png" 
    sizes="32x32" 
    href="../assets/images/favicon-32x32.png">

  <Title>Todo App</Title>
</head>
<body>
  <header>
    <div class="container">
      <h1>TODO</h1>
      <div class="icon-wrapper"></div>
    </div>
  </header>
  <main>
    <section id="todo">
      <h2 class="sr-only">Todo Section</h2>
      <div class="container">
        <form name="todo">
          <p class="form-control">
            <label for="task">Create a new todo</label>
            <input type="text" name="task" id="task" placeholder="Create a new todo...">
          </p>
        </form>
        <section>
          <h2 class="sr-only">Tasks</h2>
          <div class="tasks-container"></div>
          <footer>
            <p class="items-left"></p>
            <nav class="nav" aria-labelledby="navLabel">
              <h2 class="sr-only" id="navLabel">Form Menu</h2>
              <div class="navbar">
                <button class="button nav-item">All</button>
                <button class="button nav-item">Active</button>
                <button class="button nav-item">Completed</button>
              </div>
            </nav>
            <button class="button button-clear">Clear completed</button>
          </footer> -->
        </section>
      </div>
      <!-- <fieldset>
        <legend class="sr-only">Tasks</legend>
      </fieldset>
    
    </section>
  </main>
</body>
</html>