/* Custom variables */
:root {
  /* colors */
  --clr-primary-400: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --clr-primary-500: hsl(220, 98%, 61%);

  --clr-theme-light-400: hsl(0, 0%, 98%);
  --clr-theme-light-500: hwb(235 89% 5%);
  --clr-theme-light-600: hsl(233, 11%, 84%);
  --clr-theme-light-700: hsl(236, 9%, 61%);
  --clr-theme-light-800: hsl(235, 19%, 35%);

  --clr-theme-dark-400: hsl(235, 21%, 11%);
  --clr-theme-dark-500: hsl(235, 24%, 19%);
  --clr-theme-dark-600: hsl(234, 39%, 85%);
  --clr-theme-dark-700: hsl(234, 11%, 52%);
  --clr-theme-dark-800: hsl(233, 14%, 35%);
  --clr-theme-dark-900: hsl(237, 14%, 26%);

  --clr-accent-dark: hsl(234, 11%, 52%);

  /* fonts */
  --ff-primary: "Josefin Sans", sans-serif;

  --fs-400: 1.125rem;

  --fw-rg: 400;
  --fw-bld: 700;

  --body-fs: var(--fs-400);
  --body-fw: var(--fw-rg);
  --heading-fw: var(--fw-bld);
}

body {
  font-family: var(--ff-primary);
  font-size: var(--body-fs);
  font-weight: var(--body-fw);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--heading-fw);
}

.container {
  --max-width: 32rem;
  --padding-inline: 2rem;

  width: min(var(--max-width), 100% - var(--padding-inline));
  margin-inline: auto;
}

.button {
  padding: 0;
  line-height: 1;
  color: var(--clr-theme-light-700);
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  -webkit-clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  position: absolute !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  padding: 0 !important;
  margin: -1px !important;
}
